.exp_detail {
	padding-left: 80px;
}

.exp_dates {
	color: #234759;
	margin-top: -15px;
	margin-left: 40px;
}

.exp_description {
	margin-left: 40px;
	width: 605px;
}

.exp_mainskill {
	display: inline-block;
	background-color: #0e2936;
	margin-right: 10px;
	margin-bottom: 5px;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	border: solid 1px;
	border-color: #184257;
	border-radius: 10%;
	color: #00a0f0;
}

.exp_secondaryskill {
	display: inline-block;
	background-color: #091e29;
	margin-right: 10px;
	margin-bottom: 5px;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	border: solid 1px;
	border-color: #184257;
	border-radius: 10%;
	color: #486a7a;
}

